body{
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}

h1{
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.vertical-menu{
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  margin: 0;
  float: left;
  width: 33%;
  background-color: rgba(245, 245, 245, 0.877);
  height: 100vh;
  overflow-y: auto;
}

.right-content{
  float: right;
  width: 66%;
  background-color: rgb(255, 255, 255);
  height: 97vh;
  overflow-y: auto;
}

.item-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}

.region {
    display: block;
    width: 100%;
    padding: .3rem;
    padding-left: 2rem;
    line-height: 2;
    text-align: left;
    font: inherit;
    font-size: 13px;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: default;
    outline: none;
}
.active, .region:hover {
  background-color: rgb(197, 253, 151);
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.maker{
    display: none;
    width: 100%;
    padding: .3rem;
    padding-left: calc(2rem + 16px + .5rem); /* padding + icon + magic */
    line-height: 2;
    text-align: left;
    font: inherit;
    font-size: 13px;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: default;
    outline: none;
}
.maker:active, .maker:hover {
  background-color: rgb(197, 253, 151);
}
.maker:focus:not(.is-selected) {
  background-color: hsla(0,0%,0%,.1);
}
.maker.is-selected {
  background-color: var(--color-accent);
}

.item{
    display: none;
    width: 100%;
    padding: .3rem;
    padding-left: calc(4rem + 16px + .5rem);;
    line-height: 2;
    text-align: left;
    font: inherit;
    font-size: 13px;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: default;
    outline: none;
}
.item:active, .item:hover {
  background-color: rgb(197, 253, 151);
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.nav-button-2 {
  display: block;
  width: 100%;
  padding: .3rem;
  padding-left: calc(2rem + 16px + .5rem); /* padding + icon + magic */
  line-height: 2;
  text-align: left;
  font: inherit;
  font-size: 13px;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: default;
  outline: none;
}

